/* Variable */
:root{
  /* color  */
  --heading-color: #000000;
  --text-color: #727272;
  --button-color: #FFFFFF;
  --form-color: #5F5D5D;
  --active: #34547A;

  /* fonts  */
  --main-font: "Roboto", "Arial", san-serif;
}

/* FONTS  */
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.container{
  max-width: 1920px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.button{
  display: inline-block;
  padding: 20px 36px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: var(--active);
  color: var(--button-color);
}
.section-title{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: var(--heading-color);
}

/* SITE HEADER  */
.site-header{
  padding: 50px 0;
  background-color: #EEEFF1;
}
.site-nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  margin-right: 50px;
}
.nav-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-item + .nav-item{
  margin-left: 42px;
}
.nav-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: var(--heading-color);
  text-decoration: none;
}

/* Hero */
.hero-section{
  padding-top: 90px;
  padding-bottom: 140px;
  background-color: #EEEFF1;
}
.hero-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-container::before{
  content: "";
  width: 357px;
  height: 233px;
  margin-right: 131px;
  margin-left: 90px;
  background-image: url("../img/hero-img.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hero-info-box{
  max-width: 540px;
}
.hero-title{
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: var(--heading-color);
}
.hero-text{
  margin-bottom: 50px;
}

/* about-section */
.about-section{
  padding: 100px 0;
  background-color: #E5E5E5;
}
.about-box{
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.about-info{
  margin-top: 50px;
  margin-bottom: 0;
}

/* project-section */
.project-section{
  padding: 100px 0;
  background-color: #34547A;
}
.project-list{
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-item{
  display: flex;
  align-items: center;
}
.project-item + .project-item{
  margin-left: 49px;
}
.project-item::before{
  content: "";
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url("../img/project-img.png");
  background-position: center;
  background-size: contain;
}
.project-name{
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}
.project-name > span{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* My skills */
.skills-section{
  padding: 100px 0;
  background-color: #E5E5E5;
}
.skill-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-container::after{
  content: "";
  width: 555px;
  height: 450px;
  background-image: url("../img/my-image.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.skills-wrapper{
  width: 445px;
  margin-right: 150px;
}
.skills-title{
  margin-bottom: 50px;
}
.skill-box + .skill-box{
  margin-top: 29px;
}
.skill-name{
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}
.degree{
  position: relative;
  height: 4px;
  background-color: #C4C4C4;
}
.degree::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 78%;
  background-color: #34547A;
}

/* how I work */
.i-work-section{
  padding: 100px 0;
  background-color: #EEEFF1;
}
.i-work-container{
  position: relative;
  text-align: center;
}
.i-work-text{
  max-width: 540px;
  margin: 50px auto;
}
.i-work-video{
  width: 90%;
  height: 600px;
}
/* work-list */
.work-list{
  position: absolute;
  flex-wrap: wrap;
  width: 100%;
  left: 0;
  margin-top: 100px;
  padding-top: 20px;
  background-color: #fff;
}
.work-item{
  position: relative;
  width: 25%;
}
.work-item::before{
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/eye.png"), linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  background-repeat: no-repeat;
  background-position: center;
}
.work-item:hover::before{
  display: block;
}